/*Selectores 
	etiquetas
		atributos: valor;
	identificadores
		atributos: valor;
	clases
		atributos: valor;
	pseudoelementos
		atributos: valor;
	Cada categoria de selectores va en orden alfabetico*/

body{
	background: #D3D3D3
	
}